@media screen and (max-width: 1367px) {
  #home article h2{
    height: 150px;
  }
  #home article p{
    height: 48%;
  }
  #about .top{
    height: 86vh;
  }
  #about .top .do{
    margin-top: 6%;
  }
  #about .use{
    height: 60vh;
  }
  #contact{
    height: 65vh;
  }
}
@media screen and (max-width: 1025px) {
  .space{
    height: 50vh;
  }
  #about .top{
    height: 110vh;
  }
  #about .top .do{
    margin-top: 25%;
  }
  #fond div p{
    font-size:3em;
  }
}
